.sides-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sides-list__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.sides-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @media  screen and (min-width: 768px) {
    text-align: left;
  }
}

.sides-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}

.sides-list__icon {
  display: flex;
  max-width: 450px;
  height: 120px;
  background-color: var(--btn-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  
  @include tablet {
    max-width: 354px;
  }
  
  @include desktop {
    max-width: 270px;
  }
}