.our-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.our-team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}

.team-list__item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
  background-color: #ffffff;
  
  &:nth-child(4n) {
    margin-right: 0;
  }
}