.work-list {
  display: flex;
}

.work-list__item {
  margin-right: 30px;
  
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.work-list__pic {
  display: block;
  position: relative;
  width: 370px;
}

.work-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-box__item {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}